<div class="block mx-auto my-12 p-8 bg-white w-1/3 border border-gray-200 rounded-lg shadow-lg text-gray-800">

  <h1 class="text-center text-3xl font-bold">Edit task</h1>

  <form action="" method="POST" class="mt-4">

    <div >
      <input type="text" class="form-control" placeholder="estado" name="estado">
        <br>
      <button type="submit" class="btn-primary">Send</button>
    </div>
  </form>

</div>